<section class="b-list">

    <div class="container b-list__container">

        <app-nav-top [showFilter]='true' [showTotalFilter]='false' [showReturnIcon]='false' [showHomeIcon]='true'></app-nav-top>

        <div class="b-list__main">
            <ngx-simplebar [options]="options">

                <div class="row">
                    <div *ngFor="let element of elementsList">

                        <div class="col-6 col-sm-2 b-list__img-div">
                            <figure class="b-list__figure">
                                <img class="b-list__img" src="{{element.image}}" alt="{{element.name}}">
                                <figcaption>{{element.name}}</figcaption>
                            </figure>
                        </div>

                    </div>
                </div>

            </ngx-simplebar>
        </div>

        <app-nav-bottom></app-nav-bottom>
        
    </div>

</section>