.b-label {
    border: none;
    border-bottom: 1px solid;
    border-color: $color-grey-95;
    background-color: transparent;
    color: $color-grey-95;

    margin: 0;
    padding-right: 4px;
    padding-bottom: 2px;
    
    vertical-align: bottom;
    width: 10%;

    @media screen and (min-width: $break-lg) {
        width: 5%;
    }
    
    
}