<div class="b-chronology__main">

    <ngx-simplebar class="b-chronology__scroll">

        <div class="b-chronology__main-container">

            <div class="b-chronology__top-container">
                <div class="b-chronology__circle">{{ minEdad }}</div>

                <div class="b-chronology__arrow">
                    <a href="#" (click)="changeSort()"><span class="icon-arrow-down"></span></a>
                </div>
            </div>

            

            <div class="b-chronology__element-container">
            
                <div class="b-chronology__element" *ngFor="let character of characterList">
                    <div class="b-chronology__age">{{ character.age }}</div>

                    <div class="b-chronology__name">{{ character.name }}</div>

                    <div class="b-chronology__img-container">
                        <img class="b-chronology__img" src="{{ character.image }}" />
                    </div>
                </div>

            </div>
        </div>

    </ngx-simplebar>

</div>
