<div class="b-chronology">

    <div class="container b-chronology__container">

        <app-nav-top [showFilter]='false' [showTotalFilter]='false' [showReturnIcon]='false' [showHomeIcon]='true'></app-nav-top>

        <div class="b-chronology__top">
            <span class="icon-circle">0</span>
        </div>

        <div class="b-chronology__main">
            <ngx-simplebar class="b-chronology__scroll">
                
                <div class="b-chronology__element"></div>

            </ngx-simplebar>
        </div>
    </div>

    


</div>