//******************************************************************************
//  #RESPONSIVE BREAK POINTS
//******************************************************************************

/* Breakpoints from bootstrap */
$break-xl: 1200px;
$break-lg: 992px;
$break-md: 768px;
$break-sm: 576px;