//*********************************************************************************
//  GENERAL Styles: Styles for all project
//*********************************************************************************
* {
    color: $color-grey-95;
}

html {
    font-size: $font-size--16;
    color: $color-grey-15;
    background-color: $color-grey-90;
    min-height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: 'robotto', arial;
    position: relative;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
}

a {
    color: $color-grey-95;
    text-decoration: none !important;
}
a:hover {
    color: $color-grey-80;
    text-decoration: none !important;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
    background-color: $color-grey-95;
}

.simplebar-track.simplebar-horizontal {
    display: none;
}